extends layout

block content
	.pure-g
		.pure-u-1-2
			h1 ARTIE
		.pure-u-1-2
			h2 POST?
			form.pure-form
				input(type='text' ng-model='userPost')
				button.pure-button.pure-button-primary(ng-click="post(userPost)") Post
		.pure-u-1-1
			.stream
				.item(ng-repeat='s in stream')
					{{s.user.name}}
					{{s.content}}
		
		