extends layout

block content
	.pure-g
		.pure-u-1-2
			h1 ARTER
		.pure-u-1-2
			form.pure-form
				input(ng-model='name')
				input(ng-model='email')
				button.pure-button.pure-button-primary(type='submit') Save
			.stream
				.item(ng-repeat='s in stream')
					s.name
					s.content
		
		